<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage bruce bar</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>

    <header>
        <img src="img/logo_v_1.png" alt="logo bruce bar" width="100%"/>
    </header>

    <div class="button-container">
        <a href="https://maps.app.goo.gl/gbB3ryUQpTQGLSVj9" target="_blank">Endereço</a>
        <a href="https://wa.me/557191686507?text=Olá,%20gostaria%20de%20agendar%20um%20horário!>" class="button">Faça sua reserva</a>
        <a href="cardapio.html" class="button">Cardápio</a>
    </div>

</body>
</html>